.form-search {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.big-boy {
    height: 100vh;
    overflow-y: hidden;
}

#game-list {
    display: block;
    height: 60vh;
    overflow-y: scroll;
}

.rounded {
    border-radius: 50%;
}